<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- tiny4j 的全局请求分发器（前端控制器） -->
    <servlet>
        <servlet-name>tiny4jDispatcherServlet</servlet-name>
        <servlet-class>com.markliu.tiny4j.http.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>tiny4jDispatcherServlet</servlet-name>
        <!-- 拦截所有请求 -->
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>